# Byte-code files
__pycache__/
*.pyc
*.pyd
*.pyo
*.py[cd]

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor or IDE specific files and folders
.idea/  # popular for PyCharm projects
.vscode/ # popular for VS Code projects
*.swp
*.bak
*.tmp
*~
.DS_Store # macOS system file

# Environment variables and sensitive files
.env
.flaskenv
secrets.toml # for Streamlit
*.key
*.pem
/keys/ # a common directory for service account keys

# Test and coverage artifacts
.pytest_cache/
.coverage

# Database files (if using SQLite for local development)
*.sqlite3
*.db
/db.sqlite3

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts and distributions
dist/
build/
*.egg-info/
